/* RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input,
textarea,
select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* ----- */

::selection {
  background-color: #ffacb4;
  color: #010fff;
}

/* TYPOGRAPHY */

/* WOFF */
@font-face {
  font-family: 'InputMonoCompressed';
  src: url('../fonts/input/InputMonoCompressed-Regular.woff2') format('woff2'),
    url('../fonts/input/InputMonoCompressed-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('../fonts/cooperhewitt/CooperHewitt-Semibold.eot');
  src: url('../fonts/cooperhewitt/CooperHewitt-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cooperhewitt/CooperHewitt-Semibold.woff2') format('woff2'),
    url('../fonts/cooperhewitt/CooperHewitt-Semibold.woff') format('woff'),
    url('../fonts/cooperhewitt/CooperHewitt-Semibold.svg#CooperHewitt-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('../fonts/cooperhewitt/CooperHewitt-Heavy.eot');
  src: url('../fonts/cooperhewitt/CooperHewitt-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cooperhewitt/CooperHewitt-Heavy.woff2') format('woff2'),
    url('../fonts/cooperhewitt/CooperHewitt-Heavy.woff') format('woff'),
    url('../fonts/cooperhewitt/CooperHewitt-Heavy.svg#CooperHewitt-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
}


/* VARIABLES */
:root {
  --color-primary: #010fff;
  --color-secondary: #fff010;
  --color-black: #1e1e1e;
  --color-white: #ffffff;
  --color-light-grey: #ccc;
  --color-pink: #ffacb4;
  --base-size: 16px;
  --base-padding: 32px;
}

/* STYLES */
html,
body {
  height: 100%;
  font-size: var(--base-size);
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica,
    ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
}

a:link {
  color: var(--color-white);
  text-decoration: none;
}

a:visited {
  color: var(--color-white);
  text-decoration: none;
}

a:hover {
  color: var(--color-light-grey);
  text-decoration: none;
}

a:active {
  color: var(--color-light-grey);
  text-decoration: none;
}

.section--header {
  padding: calc(2*var(--base-padding)) var(--base-padding) 0 var(--base-padding);
}

.section--header__centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section--title__pd {
  padding-bottom: var(--base-padding);
}

.section--body {
  padding: 0 var(--base-padding);
}

.section--body__fc {
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section--footer {
  padding: 0 var(--base-padding) var(--base-padding) var(--base-padding);
}

.section--footer__centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section--footer__lr {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

/* INTRO */
.section--intro {
  color: var(--color-white);
}

.section--intro .section--header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.section--intro .section--title {
  text-transform: uppercase;
  font-family: "Cooper Hewitt", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1rem;
}

.section--intro .section--body {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.section--intro .section--marquee {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  z-index: 4;
  color: var(--color-secondary);
  text-transform: uppercase;
  font-family: "Cooper Hewitt", sans-serif;
  font-weight: 800;
  font-style: normal;
  line-height: 1.1;
  padding-top: 4em;
}

.section--intro .js-drawcanvas {
  position: absolute;
  z-index: 8;
}

.section--intro .section--footer {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  width: 100%;
}

.section--intro .numpad {
  background: var(--color-primary);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1), 0px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 0.5em 1em;
  border: 2px solid rgba(255, 255, 255, 0.25);
}

/* SUMMARY */
.section--summary {
  color: var(--color-white);
  background: url('../img/background/28.svg') no-repeat;
  background-size: contain;
  background-position: center center;
}

.section--summary .body--title {
  font-family: "Cooper Hewitt", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.section--summary .counter {
  padding-left: 0.125em;
  padding-right: 0.125em;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  display: inline-block;
  width: calc(8 * var(--base-size));
  border-bottom: 8px dotted var(--color-white);
  text-align: center;
}

.section--summary .counter.filled {
  background: transparent;
  color: var(--color-secondary);
  border-bottom: 8px solid var(--color-secondary);
}

/* INDUSTRIES */
.section--industries {
  color: var(--color-primary);
  background: url('../img/background/5.svg') no-repeat;
  background-size: contain;
  background-position: center center;
}

.section--industries .section--title {
  font-family: "Cooper Hewitt", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.section--industries .section--title .under {
  border-bottom: 8px solid var(--color-primary);
}

.industries--list {
  list-style-type: none;
  counter-reset: li;
  padding-left: 6.5em;
  margin-top: 4rem;
  font-variant-numeric: tabular-nums;

}

.industries--list li::before {
  content: '0'counter(li);
  color: var(--color-primary);
  display: inline-block;
  width: 1.5em;
  margin-left: -2em;
  margin-top: -2em;
  font-family: "InputMonoCompressed", monospace !important;
  font-weight: normal;
  font-style: normal;

}

.industries--list li {
  font-family: "Cooper Hewitt", sans-serif;
  font-weight: 800;
  font-style: normal;
  counter-increment: li;
}

/* TIME */
.section--time {
  color: var(--color-white);
  position: relative;
}

.section--time .section--header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.section--time .section--body {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.section--time .section--footer {
  position: absolute;
  left: 0;
  bottom: 0;
}

/* graph */
.graph {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  border-bottom: 2px solid var(--color-primary);
}

.bar {
  background: var(--color-primary);
  /* fallback */
  background:
    linear-gradient(220deg, transparent 20px, var(--color-primary) 0) top right;
  background-repeat: no-repeat;
  width: 10%;
  padding-right: 1em;
}

.bar .inner {
  background: var(--color-white);
  height: 100%;
  position: relative;
}

.bar .inner p {
  transform: rotate(-90deg) translateY(100%);
  transform-origin: left bottom;
  position: absolute;
  left: 50%;
  margin-left: -16%;
  bottom: 2em;
  white-space: nowrap;
  color: var(--color-primary);
  font-family: "InputMonoCompressed", monospace !important;
  font-weight: normal;
  font-style: normal;
}

.bar--one {
  height: 20vh;
}

.bar--two {
  height: 60vh;
}

.bar--three {
  height: 90vh;
}

.bar--four {
  height: 40vh;
}

.bar--five {
  height: 20vh;
}

/* LOCATIONS */

.section--locations {
  position: relative;
  overflow: hidden;

  color: var(--color-primary);
  background: url('../img/background/3.svg') no-repeat;
  background-size: contain;
  background-position: center center;
}

.section--locations .section--title {
  font-family: "Cooper Hewitt", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.section--locations .section--title .under {
  border-bottom: 8px solid var(--color-primary);
}

.section--locations .section--header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.section--locations .section--body {
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.section--locations .section--footer {
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 100%;
}

.section--locations .section--footer a {
  color: var(--color-primary);
}

.section--locations .location--index {
  display: flex;
  align-items: flex-end;
  justify-items: center;
  justify-content: center;
  height: 82vh;
}

.section--locations .location {
  padding: var(--base-padding);
  width: 33.3%;
  text-align: center;
}

.section--locations .location .location--landmark {}

.section--locations .location .location--landmark img {
  width: 120px;
  margin: 0 auto;
}

.section--locations .location .location--name {
  text-align: center;
  font-weight: 300;
  color: var(--color-primary);
  font-family: "InputMonoCompressed", monospace !important;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
}

.section--locations .js-drawcanvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
}

.section--locations .js-img {
  display: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  animation: fadein 0.3s;
}

.section--locations .js-img:hover {
  z-index: 8;
}

/* PROJECTS */
.section--projects {
  color: var(--color-white);
}

.section--projects .section--body {
  color: var(--color-black);
}

/* QUOTES */
.section--quote {
  color: var(--color-secondary);
}

.section--quote .section--header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.section--quote .section--title {
  text-transform: uppercase;
  font-family: "Cooper Hewitt", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1rem;
  color: var(--color-black);
}

.section--quote .section--body {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.section--quote .section--footer {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  width: 100%;
  color: var(--color-black);
}


.section--quote .section--marquee {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  z-index: 4;
  color: var(--color-secondary);
  text-transform: uppercase;
  font-family: "Cooper Hewitt", sans-serif;
  font-weight: 800;
  font-style: normal;
  line-height: 1.1;
  padding-top: 4em;
}

/* CLIENTS */
.section--clients {
  color: var(--color-white);
}

.section--clients .grid--logos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: -1px;
  grid-auto-rows: minmax(100px, auto);
  border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
  width: 70vw;
  margin-top:-10vh;
}

.section--clients .grid--col {
  border-top: 1px dotted rgba(255, 255, 255, 0.5);
  border-left: 1px dotted rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding:20px
}

.section--clients .grid--col:nth-child(2n+0) {
  border-right: 1px dotted rgba(255, 255, 255, 0.5);
}

.section--clients .grid--col img {
  max-height:80%;
}



/* THANKS */
.section--thanks {
  color: var(--color-primary);
}

.section--thanks .section--body {
  padding-top: 4em;
  display: flex;
  justify-content: flex-end;
}

.section--thanks .section--left {
  width: 75vw;
}

.section--thanks .section--right {
  width: 22vw;
  padding-right: 2em;
  
  
}

.section--thanks .section--right p {
  text-align:right;
  line-height:1rem;
  
}



/* ANIMATION UTILS */
.ani-d1 {
  animation-delay: 200ms;
}

.ani-d2 {
  animation-delay: 300ms;
}

.ani-d3 {
  animation-delay: 400ms;
}

.ani-d4 {
  animation-delay: 500ms;
}

.ani-d5 {
  animation-delay: 600ms;
}

/* TEXT CYCLE */

/*Vertical Sliding*/
.text--cylce__sentence {
  width: 25vw;
  text-align: left;
  line-height: 1.5em;
}

.text--cylce__vertical {
  display: inline;
  text-indent: 0.25em;
}

.text--cylce__vertical span {
  animation: topToBottom 10s ease-in-out infinite 0s;
  -ms-animation: topToBottom 10s ease-in-out infinite 0s;
  -webkit-animation: topToBottom 10s ease-in-out infinite 0s;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

.text--cylce__vertical span:nth-child(2) {
  animation-delay: 2s;
  -ms-animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

.text--cylce__vertical span:nth-child(3) {
  animation-delay: 4s;
  -ms-animation-delay: 4s;
  -webkit-animation-delay: 4s;
}

.text--cylce__vertical span:nth-child(4) {
  animation-delay: 6s;
  -ms-animation-delay: 6s;
  -webkit-animation-delay: 6s;
}

.text--cylce__vertical span:nth-child(5) {
  animation-delay: 8s;
  -ms-animation-delay: 8s;
  -webkit-animation-delay: 8s;
}

/* LINKS */
.dotlink:link,
.dotlink:visited {
  border-bottom: 1px dotted var(--color-white);
}

.dotlink:hover,
.dotlink:active {
  border-bottom: 1px solid var(--color-white);
}

/* FONT SIZING */
.mono {
  font-family: "InputMonoCompressed", monospace;
  font-weight: normal;
  font-style: normal;
}

.uppercase {
  text-transform: uppercase;
}



p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.lead {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}

.XXS {
  font-size: 0.6rem;
  line-height: 1rem;
}

.S {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
}

.M {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 600;
}

.L {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 700;
}

.XL {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 700;
}

.XXL {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 700;
}

.INSANE {
  font-size: 50vh;
}

.regular {
  font-weight: 500;
}

.medium {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.hint {
  font-size: 0.75em;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 2px 4px;
  opacity: 0.6;
}

.hint--dark {
  border: 1px solid #999;
}


.section--header {
  padding: var(--base-padding) var(--base-padding) 0 var(--base-padding);
}

.section--projects .section--body {
  padding: 0;
}


@media (min-width: 320px) {
  :root {
    --base-amount: calc(100vw / 6);
    --base-size: calc(var(--base-amount) / 5);
  }

  .headings .XXL,
  .headings .XL,
  .headings .L,
  .headings .M,
  .headings .S {}
}

@media (min-width: 480px) {

  .section--clients .grid--logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: -1px;
    grid-auto-rows: minmax(200px, auto);
    border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
    width: 80vw;
    margin-top:-10vh;
  }
  
  .section--clients .grid--col {
  
    height: 200px;
    padding:0;
  }
  
  .section--clients .grid--col img {
  
    max-width: 100%;
  }


.section--clients .grid--col:nth-child(3n+0) {
  border-right: 1px dotted rgba(255, 255, 255, 0.5);
}

  }

@media (min-width: 768px) {
  :root {
    --base-amount: calc(100vw / 12);
    --base-size: calc(var(--base-amount) / 5);
  }

  html,
  body {
    font-size: var(--base-size);
  }

  .headings .XXL:hover,
  .headings .XL:hover,
  .headings .L:hover,
  .headings .M:hover,
  .headings .S:hover {}

  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .lead {
    font-size: 1.5rem;
    line-height: 2rem;
    width: 45%;
  }

  .S {
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.025rem;
  }

  .M {
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: -0.025rem;
  }

  .L {
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: -0.025rem;
  }

  .XL {
    font-size: 4rem;
    line-height: 4.25rem;
    padding-bottom: 0.05rem;
    letter-spacing: -0.025rem;
  }

  .XXL {
    font-size: 5rem;
    line-height: 5rem;
    padding-bottom: 0.05rem;
    letter-spacing: -0.025rem;
  }
}

@media (min-width: 1440px) {

  html,
  body {
    height: auto;
  }

  .headings {}

  .XXL,
  .XL,
  .L,
  .M,
  .S {}

  .L {
    font-size: 3rem;
    line-height: 3rem;
  }

  .XL {
    font-size: 4rem;
    line-height: 4rem;
    padding-bottom: 0.05rem;
    letter-spacing: -0.035rem;
  }

  .XXL {
    font-size: 5rem;
    line-height: 5rem;
    padding-bottom: 0.05rem;
    letter-spacing: -0.045rem;
  }

  p {
    font-size: 0.5rem;
    line-height: 1.25rem;
  }

  .lead {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 600;
  }

  .section--header {
    padding: calc(2*var(--base-padding)) var(--base-padding) 0 var(--base-padding);
  }
}

/* ANIMATION */
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.marquee--line {
  display: inline-block;
}

.marquee--line__one {
  animation: marquee 50s linear infinite;
}

.marquee--line__two {
  animation: marquee1 50s linear infinite;
}



@keyframes marquee {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee1 {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

/*topToBottom Animation*/
@-moz-keyframes topToBottom {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 0;
    -moz-transform: translateY(-50px);
  }

  10% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }

  25% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }

  30% {
    opacity: 0;
    -moz-transform: translateY(50px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes topToBottom {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }

  10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }

  25% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }

  30% {
    opacity: 0;
    -webkit-transform: translateY(50px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@-ms-keyframes topToBottom {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 0;
    -ms-transform: translateY(-50px);
  }

  10% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }

  25% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }

  30% {
    opacity: 0;
    -ms-transform: translateY(50px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}


/* 
.marquee {
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
  animation: marquee 50s linear infinite;
}

.marquee:hover {
  animation-play-state: paused
}

@keyframes marquee {
  0% {
    text-indent: 0em
  }

  100% {
    text-indent: -50em
  }
} */
