html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input,
textarea,
select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Variables */
:root {
  --color-primary: #010fff;
  --color-secondary: #fff010;
  --color-black: #1e1e1e;
  --color-white: #ffffff;
  --color-offwhite: #DAE1D9;
  --color-darkblue: #29313E;

  --base-size: 16px;
  --duration: 90s;
}

html,
body {
  height: 100%;
  font-size: var(--base-size);
  font-family: -apple-system, BlinkMacSystemFont,
    'avenir next', avenir,
    'helvetica neue', helvetica,
    ubuntu,
    roboto, noto,
    'segoe ui', arial,
    sans-serif;
}

/* Sections */
.section {
  padding: calc(2*var(--base-size));
}

/* Intro */
.section--intro {
  position: relative;
  color: var(--color-offwhite);
  overflow: hidden;
}

.section--header {}

.section--title {}

.section--body {}

.section--footer {}

.footer--notice {}

.screensaver {}

.screensaver .screensaver--blob {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 50vmax;
  transform-origin: 50% 50%;
}

.screensaver--blob--one {
  fill: var(--color-primary);
  z-index: 2;
  animation: move-blob-one 20s ease-in-out infinite;
  mix-blend-mode: screen;
}

.screensaver--blob--two {
  fill: var(--color-secondary);
  z-index: 2;
  animation: move-blob-two 20s ease-in-out infinite;
  mix-blend-mode: difference;
}

.screensaver--logo {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.screensaver--logo .ani-container-x {
  -webkit-animation: x 13s linear infinite alternate;
  animation: x 13s linear infinite alternate;
}

.screensaver--logo .ani-container-y {
  -webkit-animation: y 7s linear infinite alternate;
  animation: y 7s linear infinite alternate;
}

.logo--background {
  fill: var(--color-primary);
}

.logo-wordmark {
  fill: var(--color-darkblue);
}

/* Summary */
.section--summary {
  color: var(--color-darkblue);
}

.counter {
  padding-left: 0.125em;
  padding-right: 0.125em;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  background: #010fff;
  color: #fff;
  display: inline-block;
  width: calc(8*var(--base-size));
  text-align: center;
}

/* Industries */
.section--industries {
  color: var(--color-offwhite);
}

.industries--list {
  list-style-type: decimal-leading-zero;
  background: #red;
  padding-left: 6.5em;
  font-variant-numeric: tabular-nums;
}



.section--four {}

.section--five {}

.section--five h2 {
  margin-bottom: 1em;
}

.section--six {}



/* grid */
.grid {
  display: flex;
  flex-direction: row;
}

.grid--cards {
  width: 5000px;
  overflow: scroll;
}

.column {
  padding-right: 2em;
  overflow: hidden;
}

.column:last-child {
  padding-right: 0;
}

.column img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.card {
  margin-right: 2em;
  overflow: hidden;
}

.project {
  width: 375px;
  height: auto;
  background: white;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);

}

.project--visual {
  background-color: #000;
}

.project--visual img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.project--description {
  padding: 1em 2em 1em 1em;
}

.ani-d1 {
  animation-delay: 400ms;
}

.ani-d2 {
  animation-delay: 600ms;
}

.ani-d3 {
  animation-delay: 800ms;
}

.ani-d4 {
  animation-delay: 1000ms;
}

.ani-d5 {
  animation-delay: 1200ms;
}

/* graph */
.graph {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-items: end;
}

.bar {
  background: #black;
  /* fallback */
  background:
    linear-gradient(220deg, transparent 20px, black 0) top right;
  background-repeat: no-repeat;

  left: -20px;
  width: 22vw;
  margin-right: 1em;
  padding: 0 30px 0 0;
}

.bar .inner {
  background: #2D5346;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.bar .inner p {
  color: #DAE1D9;
  padding: 0 0 0 0.5em;
}

.bar:last-child {
  margin-right: 0;
}

.bar--one {
  height: 20vh;
}

.bar--two {
  height: 60vh;
}

.bar--three {
  height: 90vh;
}

.bar--four {
  height: 40vh;
}

.bar--five {
  height: 20vh;
}

/* Font Sizing */
p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.lead {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.XXS {
  font-size: 0.6rem;
  line-height: 1rem;
}

.S {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
}

.M {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 600;
}

.L {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 700;
}

.XL {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 700;
}

.XXL {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 700;
}

.regular {
  font-weight: 500;
}

.medium {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}


@media (min-width: 320px) {

  .headings .XXL,
  .headings .XL,
  .headings .L,
  .headings .M,
  .headings .S {}
}

@media (min-width: 768px) {
  :root {
    --color-black: #1e1e1e;
    --color-red: #fa4616;
    --color-yellow: #f6e203;
    --color-white: #ffffff;
    --base-amount: calc(100vw / 12);
    /* 960 / 12 = 80px */
    --base-size: calc(var(--base-amount) / 5);
    /* 80 / 5 = 16px (1em) */
  }

  html,
  body {
    font-size: var(--base-size);
    background: var(--color-black);
  }

  .headings .XXL:hover,
  .headings .XL:hover,
  .headings .L:hover,
  .headings .M:hover,
  .headings .S:hover {}

  p {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .lead {
    margin-top: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    width: 45%;
  }

  .S {
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.025rem;
  }

  .M {
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: -0.025rem;
  }

  .L {
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: -0.025rem;
  }

  .XL {
    font-size: 4rem;
    line-height: 4.25rem;
    padding-bottom: 0.05rem;
    letter-spacing: -0.025rem;
  }

  .XXL {
    font-size: 5rem;
    line-height: 5rem;
    padding-bottom: 0.05rem;
    letter-spacing: -0.025rem;
  }
}

@media (min-width: 1440px) {

  html,
  body {
    height: auto;
  }

  body {
    background: var(--color-yellow);
    color: var(--color-black);
  }

  .headings {}

  .XXL,
  .XL,
  .L,
  .M,
  .S {}

  .L {
    font-size: 3rem;
    line-height: 3rem;
  }

  .XL {
    font-size: 4rem;
    line-height: 4rem;
    padding-bottom: 0.05rem;
    letter-spacing: -0.035rem;
  }

  .XXL {
    font-size: 5rem;
    line-height: 5rem;
    padding-bottom: 0.05rem;
    letter-spacing: -0.045rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;
  }

  .lead {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
  }
}

/*
ANIMATIONS
*/

/* screensaver animation 1 */
@keyframes move-blob-one {
  0% {
    transform: scale(0.8) translate(10px, -30px);
  }

  38% {
    transform: scale(1.2, 1) translate(80vw, 30vh) rotate(160deg);
  }

  40% {
    transform: scale(1.2, 1) translate(80vw, 30vh) rotate(160deg);
  }

  78% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }

  80% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }

  100% {
    transform: scale(0.8) translate(10px, -30px);
  }
}

@keyframes move-blob-two {
  0% {
    transform: scale(3) translate(10px, -130px) rotate(-45deg);
    ;
  }

  38% {
    transform: scale(0.8, 1) translate(0vw, -50vh);
  }

  40% {
    transform: scale(0.8, 1) translate(0vw, -50vh));
  }

  78% {
    transform: scale(1.3) translate(80vw, -30vh) rotate(-20deg);
  }

  80% {
    transform: scale(1.3) translate(80vw, -50vh) rotate(-20deg);
  }

  100% {
    transform: scale(3) translate(10px, -130px) rotate(-45deg);
  }
}

@-webkit-keyframes x {
  100% {
    -webkit-transform: translateX(calc(100vw - 200px));
    transform: translateX(calc(100vw - 200px));
  }
}

@keyframes x {
  100% {
    -webkit-transform: translateX(calc(100vw - 200px));
    transform: translateX(calc(100vw - 200px));
  }
}

@-webkit-keyframes y {
  100% {
    -webkit-transform: translateY(calc(100vh - 200px));
    transform: translateY(calc(100vh - 200px));
  }
}

@keyframes y {
  100% {
    -webkit-transform: translateY(calc(100vh - 200px));
    transform: translateY(calc(100vh - 200px));
  }
}
