*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #CCFBFE;
  overflow: hidden;
  font-family: sans-serif;
}

.tinder {
  width: 100vw;
  /* height: 80vh; */
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.loaded.tinder {
  opacity: 1;
}

.tinder--status {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.tinder--status i {
  font-size: 100px;
  opacity: 0;
  transform: scale(0.3);
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
}

.tinder_love .fa-heart {
  opacity: 0.7;
  transform: scale(1);
}

.tinder_nope .fa-remove {
  opacity: 0.7;
  transform: scale(1);
}

.tinder--cards {
  flex-grow: 1;
  padding-top: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.tinder--card {
  display: inline-block;
  width: 80vw;
  max-width: 400px;
  max-height: 600px;
  height: 60vh;
  background: #FFFFFF;
  padding-bottom: 40px;
  border-radius: 16px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  border: 8px #fff solid;
}


.tinder--endscreen {
  display: inline-block;
  width: 75vw;
  max-width: 320px;
  max-height: 540px;
  height: 55vh;
  background: #010fff;
  padding: 0.5em;
  border-radius: 16px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  border: 8px rgba(255, 255, 255, 0.2) dashed;
  color: #fff;
  /* vertical align van de content werkt niet */
  text-align: center;
  display: table-cell;
  vertical-align: middle;

}

.tinder--card h3,
.tinder--endscreen h3 {
  padding: 1.25rem 0.25rem 0 0.25rem;
  font-family: "Cooper Hewitt", sans-serif;
  font-size: 1.125rem;
  font-weight: 800;
  font-style: normal;
  pointer-events: none;


  ;
}

.tinder--card h4,
.tinder--endscreen h4 {
  padding: 0.45rem 1rem;
  font-size: 1rem;
  font-style: normal;
  pointer-events: none;


}

.tinder--card p,
.tinder--endscreen p {
  padding: 0 1rem;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4;
  pointer-events: none;
}

.tinder--card small {
  font-size: 0.75rem;
  line-height: 1rem;
  position: absolute;
  bottom: 32px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);

  pointer-events: none;
}

.tinder--endscreen p a {
  pointer-events: all;
}


.moving.tinder--card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.tinder--card img {
  max-width: 100%;
  pointer-events: none;
}

.tinder--card h3 {
  /* margin-top: 32px;
  font-size: 32px;
  padding:0 0.25em ;
  */
  pointer-events: none;
}

.tinder--card h4 {
  /* margin-top: 32px;
  font-size: 32px;
  padding:0 0.25em ;
  */
  pointer-events: none;
}

/* .tinder--card p {
  margin-top: 24px;
  font-size: 0.7rem;
  padding: 0 16px;
  line-height: 1.2;
  pointer-events: none;
} */

.tinder--card__black {
  background: #000000;
  color: #fff;
}

.tinder--card__orange {
  background: #FF7A00;
  color: #fff;
}

.tinder--card__green {
  background: #00663B;
  color: #fff;
}

.tinder--card__yellow {
  background: #FFC701;
  color: #000;
}

.tinder--card__blue {
  background: #000D87;
  color: #fff;
}

.tinder--buttons {
  flex: 0 0 100px;
  text-align: center;
  padding-top: 20px;
}

.tinder--buttons button {
  line-height: 60px;
  height: 60px;
  width: 60px;
  border: 0;
  background: #FFFFFF;
  display: inline-block;
  margin: 0 8px;


  background: var(--color-primary);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1), 0px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  border: 2px solid rgba(255, 255, 255, 0.25);

}

.tinder--buttons button:focus {
  outline: 0;
}

.tinder--buttons i {
  font-size: 32px;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.fa-heart {
  color: #FFACE4;
}

.fa-remove {
  color: #CDD6DD;
}



@media (min-width: 480px) {



  .tinder--card {

    width: 80vw;
    max-width: 400px;
    max-height: 600px;
    height: 80vh;
    padding-bottom: 40px;
    border-radius: 32px;
    border: 16px #fff solid;
  }

  .tinder--endscreen {
    display: inline-block;
    width: 75vw;
    max-width: 320px;
    max-height: 540px;
    height: 60vh;
  }

}

@media (min-width: 768px) {
  .tinder--card p {
    font-size: 0.65em;
  }

}
